
<html>
<head>
	<meta charset="utf-8">

	<!-- importo le librerie -->
	<script src="source/lib/http_d3js.org_d3.v3.js"></script>
	<script src="source/lib/angular-1.6.4/angular.min.js"></script>
	<script src="source/lib/angular-1.6.4/angular-aria.js"></script>
	<script src="source/lib/http_cdn.jsdelivr.net_hammerjs_2.0.4_hammer.js"></script>
	<script src="source/lib/angular-1.6.4/angular-animate.js"></script>
	<script src="source/lib/http_ajax.googleapis.com_ajax_libs_angular_material_1.1.4_angular-material.js"></script>


	<link rel="stylesheet" href="source/lib/angular-material.min.css">
	<script src="source/lib/__code.angularjs.org_snapshot_angular-messages.js"></script>

	<!-- importo controller -->
	<script type="text/javascript" src="source/controllers/myApp.js"></script>
	
	<script type="text/javascript" src="source/controllers/controllers.js"></script>
	<script type="text/javascript" src="source/controllers/labelsService.js"></script>
	<script type="text/javascript" src="source/controllers/infoProjectController.js"></script>
	<script type="text/javascript" src="source/controllers/nodeController.js"></script>
	<script type="text/javascript" src="source/controllers/linkController.js"></script>
	<script type="text/javascript" src="source/controllers/typeController.js"></script>
	<script type="text/javascript" src="source/controllers/graphController.js"></script>

	<!-- importo css per l'editor del grafo -->
	<link href="GraphEditor.css" rel="stylesheet">

	<title>Editor di grafi</title>

</head>

<body ng-app="MyApp" style="background-color: #DCDCDC">
		
	<!-- barra dei bottoni e nome del progetto, i nomi e le operazioni dei bottoni vengono dal controller-->
	<link href="source/css/menuBar.css" rel="stylesheet">

	<md-toolbar class="md-hue-2" ng-controller="BottoniMenu">
		<div class="md-toolbar-tools">
			<md-menu>
				<md-button class="md-icon-button" aria-label="Settings">
					<img class="png-icon" src="source/icons/menu_icon.png" ng-click="$mdMenu.open($event)" aria-label="x" style="width: 24px; height: 24px;">
				</md-button>
				<md-menu-content>
					<md-menu-item ng-controller="infoProject">
						<md-button ng-click="showInfoProject($event)">progetto</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="nuovoProgetto()">nuovo</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							<img class="png-icon" src="source/icons/ic_file_download_black_24dp_2x.png" aria-label="carica" style="width: 20px; height: 20px;"/>
								 carica
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="eliminazione()">
							<img class="png-icon" src="source/icons/ic_delete_black_24dp_2x.png" aria-label="x" style="width: 20px; height: 20px;"/>
							elimina</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="salvataggio()">
							<img class="png-icon" src="source/icons/ic_file_upload_black_24dp_2x.png" aria-label="x" style="width: 20px; height: 20px;"/>
							salva
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

			<h2 flex="" md-truncate="" ng-controller="infoProject">{{ nomeProgetto }}</h2>


		</div>
	</md-toolbar>

	<style>
		div#boCo {
			width: 100%;
			float:left;
			padding-left: 10px;
			padding-right: 10px;
		}
	</style>

    <div id="boCo">
		<md-button ng-controller= "nodeController" ng-click="showNodeInfo($event)"> nodo </md-button>

		<md-button ng-controller= "linkController" ng-click="showLinkInfo($event)"> arco </md-button>

		<md-button ng-controller="typeController" ng-click = "openLeftMenu()">Domini</md-button>

		<div id = "sideNavContainer" ng-controller="typeController" layout = "row" ng-cloak>
			<md-sidenav md-component-id = "left" class = "md-sidenav-left" >
				<md-toolbar layout="row" class="md-hue-3" >
					<div class="md-toolbar-tools">
						<span><h1>DOMINI</h1></span>
					</div>
				</md-toolbar>

				<md-content>
					<md-list flex="">
						<md-subheader class="md-no-sticky"><h2>Lista dei domini utente</h2></md-subheader>
						<md-list-item ng-model= "dom" class="md-1-line" ng-repeat="dom in domini | limitTo:5" ng-click="showInfo($event, dom)">
							<div class="md-list-item-text" layout="column">
								<h4>{{ dom.nome }}</h4>
							</div>
						</md-list-item>
						<hr/>
						<md-list-item ng-model= "dom" class="md-1-line" ng-repeat="dom in domini | limitTo:(5-domini.length)" ng-click="showInfo($event, dom)">
							<div class="md-list-item-text" layout="column">
								<h4>{{ dom.nome }}</h4>
								<md-button class="md-secondary" ng-click="removeDom($index)" style="color : black;
                                background-color: red;
                                min-width: 5%;
                                font-size: 16px;">X</md-button>
							</div>
						</md-list-item>


				</md-content>
				<md-divider></md-divider>

                <div>
					<br/>
                    <md-button ng-click="addNewType($event)" class="md-raised"> nuovo tipo </md-button>
                </div>
            </md-sidenav>
<!-- -->

		</div>

	</div>

	<div class="corpo">


		<div class="editor">

			<!-- definisco la sezione del nome del progetto e l'editor dei grafi -->
			<br>

			<div ng-controller="nodeController">

				<!--<div graph-Direct apri="show" modal="show($event)" ></div>-->

			</div>
		</div>
	</div>

</body>
</html>