<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>LOG-IN</title>
	<script src="js/angular.min.js"></script>
</head>
<body>
<body ng-app="MyApp">
	<script type="text/javascript" src="js/controllers.js"></script>
	<form name="log" action="graphEd.html" ng-controller= "in">
		<p>Inserisci nome: <input type="text" ng-model="nomeProgetto"></p>
		<input type = "submit" value = "Sub" />
		{{nomeProgetto}}
	</form>
	
	
	</script>

</body>
</html>