<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <script src="js/lib/http_d3js.org_d3.v3.js"></script>

    <link href="GraphEditor.css" rel="stylesheet">

    <script src="js/lib/angular-1.6.4/angular.min.js"></script>

    <script src="js/lib/angular-1.6.4/angular-aria.js"></script>
    <script src="js/lib/http_cdn.jsdelivr.net_hammerjs_2.0.4_hammer.js"></script>
    <script src="js/lib/angular-1.6.4/angular-animate.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">

    <script type="text/javascript" src="js/myApp.js"></script>

    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/labelsService.js"></script>
    <script type="text/javascript" src="js/nodeController.js"></script>
    <script type="text/javascript" src="js/graphController.js"></script>

    <title> PROVE </title>
	
  </head>
  <body ng-app="MyApp">

  ciao a tutti

  <div ng-controller= "nodeInfo">
      <button ng-click="show($event)"> nodo </button>
  </div>

  </body>
</html>