<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools"> <h2>Specifiche del link {{ linkSelezionato.nome }}</h2>
            <md-button ng-click="closeDialog()">
                <img class="png-icon" src="source/icons/Close_Button_red.png" aria-label="x" style="width: 24px; height: 24px;">
            </md-button>
        </div>
    </md-toolbar><br>

    <md-dialog-content style="width:800px; height:810px; padding:30px;">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Proprietà">
                <form name="proprietaLink">
                    <br/>
                    <md-input-container>
                        <md-select ng-model="indexSelezionato" name="tipo" ng-change = "cambiaLink()" aria-label="link selezionato">
                            <md-option ng-repeat="link in links" value="{{$index}}" ng-selected="{{$first}}">{{link.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Nome del link</label>
                        <input type="text" ng-model="linkSelezionato.nome" value="{{ linkSelezionato.nome }}"/>
                    </md-input-container>

                    <hr/>
                    <h3> Aggiungi Proprietà </h3>
                    <md-input-container>
                        <label>Nome</label>
                        <input type="text" ng-model="newLinkProp.nome" name="n" required/>
                    </md-input-container>
                    <md-input-container>
                        <label>Dominio</label>
                        <md-select ng-model="newLinkProp.dominio" name="d">
                            <md-option ng-repeat="dom in domini" value="{{dom.nome}}" >{{dom.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="addLinkProp()" class="md-raised"
                               ng-disabled=" proprietaLink.n.$invalid || proprietaLink.d.$untouched "> Aggiungi </md-button>
                    <hr/>
                    <h3> Proprietà del link </h3>
                    <div ng-repeat= "prop in linkSelezionato.proprieta">
                        <md-input-container>
                            <input type="text" ng-model="prop.nomeProp" value="{{ prop.nomeProp }}" id="nome" aria-label="nome della proprietà"/>
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="prop.dominio" aria-label="dominio della proprietà">
                                <md-option ng-repeat="dom in domini" value="{{dom.nome}}">{{dom.nome}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-click="removeLinkProp($index)" class="md-raised" align="right"> Rimuovi </md-button>
                    </div>
                </form>
            </md-tab>

            <md-tab label="Vincoli di dominio">
                <form name="vincoliProp">
                    <h3>In questo modal puoi definire delle restrizioni sui valori di una proprietà</h3>

                    <md-input-container>
                        <label>Scegli proprietà</label>
                        <md-select ng-model="vincProp" ng-change = "cambiaProp($index)" >
                            <md-option ng-repeat="prop in linkSelezionato.proprieta" value="{{$index}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>
                    <br/>
                    <md-input-container ng-show="vincProp > -1">
                        <md-select ng-model="linkSelezionato.proprieta[vincProp].dominio" aria-label="dominio della proprietà">
                            <md-option ng-repeat="dom in domini" value="{{dom.nome}}">{{dom.nome}}</md-option>
                        </md-select>
                    </md-input-container>

                    <!-- INIZIO SEZIONE PER I VALORI DI DEFAULT -->

                    <div ng-switch ="linkSelezionato.proprieta[vincProp].dominio">
                        <md-input-container ng-switch-when= 'int' >
                            <label>Scrivi il valore di default</label>
                            <input name="valInt" ng-model="$parent.linkSelezionato.proprieta[vincProp].valori.default" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                            <div ng-messages="vincoliProp.valInt.$error">
                                <div ng-message="pattern">Inseire un intero</div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-switch-when= 'float' >
                            <label>Scrivi il valore di default</label>
                            <input name="valFlo" ng-model="$parent.def" ng-pattern="/^(\-|\+)?[0-9]+(\.[0-9]+)?$/"/>
                            <div ng-messages="vincoliProp.valFlo.$error">
                                <div ng-message="pattern">Inseire un numero</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'string' >
                            <label>Scrivi il valore di default</label>
                            <input ng-model="$parent.def"/>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'date' >
                            <md-datepicker name="data" ng-model="$parent.def" md-placeholder="Scegli data di default"></md-datepicker>
                            <div ng-messages="vincoliProp.data.$error">
                                <div ng-message="valid">Inserire una data valida</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'bool' >
                            <md-radio-group ng-model="$parent.def">
                                Scegli il valore di default
                                <br/><br/>
                                <md-radio-button value="true" class="md-primary">True</md-radio-button>
                                <md-radio-button value="false" class="md-primary">False</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <!-- FINE SEZIONE PER I TIPO DI DEFAULT -->

                    <!-- INIZIO SEZIONE PER GLI INTERVALLI DI VALORE -->
                    <div ng-switch = "linkSelezionato.proprieta[vincProp].dominio" >
                        <md-input-container ng-show= "linkSelezionato.proprieta[vincProp].dominio === 'int' ||
                                                    linkSelezionato.proprieta[vincProp].dominio === 'float' ||
                                                    linkSelezionato.proprieta[vincProp].dominio === 'date' " >
                            <br/>
                            Decidi gli intervali dei valori accettabili
                            <br/><br/>
                            <md-radio-group ng-model="sceltaVinc" name="cc">
                                <md-radio-button value="intervallo">Intervallo</md-radio-button>
                                <md-radio-button value="maggiore">Maggiore di </md-radio-button>
                                <md-radio-button value="minore">Minore di</md-radio-button>
                            </md-radio-group>
                        </md-input-container>

                        <div ng-switch-when= 'int' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <input name="valInt1" ng-model="$parent.interDa" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt1.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>

                                <md-input-container>
                                    <label>A</label>
                                    <input name="valInt2" ng-model="$parent.interA" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt2.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valInt3" ng-model="$parent.magDi" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt3.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valInt4" ng-model="$parent.minDi" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt4.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when= 'float' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <input name="valFlo1" ng-model="$parent.interDa" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo1.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>
                                <md-input-container>
                                    <label>A</label>
                                    <input name="valFlo2" ng-model="$parent.interA" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo2.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valFlo3" ng-model="$parent.magDi" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo3.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valFlo4" ng-model="$parent.minDi" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo4.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when= 'date' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <md-datepicker name="data1" ng-model="$parent.interDa"></md-datepicker>
                                    <div ng-messages="vincoliProp.data1.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>
                                <md-input-container>
                                    <label>A</label>
                                    <md-datepicker name="data2" ng-model="$parent.interA"></md-datepicker>
                                    <div ng-messages="vincoliProp.data2.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <md-datepicker name="data3" ng-model="$parent.magDi"></md-datepicker>
                                    <div ng-messages="vincoliProp.data3.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <md-datepicker name="data4" ng-model="$parent.minDi"></md-datepicker>
                                    <div ng-messages="vincoliProp.data4.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when='enum'>
                            <md-radio-group ng-model="$parent.sel">
                                <style>
                                    table#tableEnum{
                                        width: 50%;
                                    }
                                    table#tableEnum td,th{
                                        text-align: left;
                                    }
                                    .btn1 {
                                        color : black;
                                        background-color: red;
                                        min-width: 5%;
                                        font-size: 16px;
                                    }
                                </style>
                                <table id="tableEnum">
                                    <thead>
                                    <tr><th>Elementi</th><th>Default</th><th>Elimina</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>nessun default</td>
                                        <td><md-radio-button ng-value="$index" class="md-primary"></md-radio-button></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="elem in enum">
                                        <td>{{ elem }}</td>
                                        <td><md-radio-button ng-value="$index" class="md-primary"></md-radio-button></td>
                                        <td><md-button class = "btn1" ng-click="removeIntervallo($index)" align="right"> X </md-button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-radio-group>

                            <md-input-container>
                                <label>numero di elementi</label>
                                <input name="valInt5" ng-model="$parent.nomeApp"/>
                            </md-input-container>
                            <md-button ng-click="addElem()" class="md-raised">Aggiungi elemento</md-button>
                        </div>

                        <div ng-switch-when="int|float|date" ng-switch-when-separator="|">
                            <div>
                                <md-button ng-click="insIntervallo()" class="md-raised"> Aggiungi vincolo </md-button>
                            </div>
                            <br/><br/><br/>
                            <hr/>
                            <style>
                                table#tableIntervalli{
                                    width: 50%;
                                }
                                table#tableIntervalli td,th{
                                    text-align: left;
                                }
                                .btn1 {
                                    color : black;
                                    background-color: red;
                                    min-width: 5%;
                                    font-size: 16px;
                                }
                            </style>
                            <table id="tableIntervalli" ng-show="linkSelezionato.proprieta[vincProp].valori.intervalli.length !== 0">
                                <thead>
                                <tr><th>Intervalli definiti</th><th>Elimina</th></tr>
                                </thead>
                                <tr ng-repeat="intervallo in linkSelezionato.proprieta[vincProp].valori.intervalli track by $index">
                                    <td>{{ intervallo }}</td>
                                    <td><md-button class = "btn1" ng-click="removeIntervallo($index)" align="right"> X </md-button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- FINE SEZIONE PER GLI INTERVALLI DI VALORE -->
                </form>
            </md-tab>

            <md-tab label="Connessioni">
                <br/>Qui si possono definire i vincoli di molteplicità dei nodi connessi dal link
                <br/>
                <div>
                    {{ linkSelezionato.source.nome }} ----------> {{ linkSelezionato.target.nome }}
                </div>
                <hr/><br/>
                <div>
                    Scegli la molteplicità per i nodi<br/>
                    <md-input-container>
                        <label>sorgente</label>
                        <md-select ng-model="linkSelezionato.molteplicita.source" style="width: 250px">
                            <md-option ng-repeat="mol in molteplicita" value="{{mol}}">{{mol}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>destinazione</label>
                        <md-select ng-model="linkSelezionato.molteplicita.target" style="width: 250px">
                            <md-option ng-repeat="mol in molteplicita" value="{{mol}}">{{mol}}</md-option>
                        </md-select>
                    </md-input-container>
                    <hr/><br/>
                    Qui puoi definire le proprietà che fanno riferimento ai nodi connessi a {{linkSelezionato.nome}}<br/>
                    Se non inseriti si useranno le proprietà che sono chiavi primarie.<br/>
                    Scegli le proprietà di {{ linkSelezionato.source.nome }}
                    <md-input-container>
                        <label>scegli proprietà</label>
                        <md-select ng-model="linkSelezionato.foreing.source" multiple="">
                            <md-option ng-repeat="prop in linkSelezionato.source.proprieta"  value="{{prop.nomeProp}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>
                    <hr/>
                    Scegli le proprietà di {{ linkSelezionato.target.nome }}
                    <md-input-container>
                        <label>scegli proprietà</label>
                        <md-select ng-model="linkSelezionato.foreing.target" multiple="">
                            <md-option ng-repeat="prop in linkSelezionato.target.proprieta"  value="{{prop.nomeProp}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>

                </div>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="row" layout-align="center">
            <md-button ng-click="closeDialog()" class="md-raised"> Chiudi </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
</body>
</html>