<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools"> <h2>Specifiche del nodo {{ nodoSelezionato }}</h2>
            <md-button ng-click="closeDialog()" aria-label="chiudi modal">
                <img class="png-icon" src="source/icons/Close_Button_red.png" aria-label="x" style="width: 24px; height: 24px;">
            </md-button>
        </div>
    </md-toolbar><br>

    <md-dialog-content style="width:800px;height:810px; padding : 30px;">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Proprietà">
                <form name="proprietaNodo">
                    <br/>
                    <md-input-container>
                        <md-select ng-model="nodoSelezionato" name="tipo" ng-change = "cambiaNodo()" aria-label="seleziona nodo">
                            <md-option ng-repeat="nodo in nodi" value="{{nodo.nome}}" ng-selected="{{$first}}">{{nodo.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Nome del nodo</label>
                        <input type="text" ng-model="nodoSelezionato" value="{{ nodoSelezionato }}"/>
                    </md-input-container>
                    <hr/>
                    <h3> Aggiungi Proprietà </h3>
                    <md-input-container>
                        <label>Nome</label>
                        <input type="text" ng-model="newNodeProp.nome" name="n" required/>
                    </md-input-container>
                    <md-input-container>
                        <label>Dominio</label>
                        <md-select ng-model="newNodeProp.dominio" name="d" aria-label="seleziona dominio">
                            <md-option ng-repeat="dom in domini" value="{{dom.nome}}" >{{dom.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="addNodeProp()" class="md-raised" aria-label="aggiungi proprietà"
                               ng-disabled=" proprietaNodo.n.$invalid || proprietaNodo.d.$untouched "> Aggiungi </md-button>
                    <hr/>
                    <h3> Proprietà del nodo </h3>
                    <div ng-repeat= "prop in nodi[indiceSelezionato].proprieta">
                        <md-input-container>
                            <input type="text" ng-model="prop.nomeProp" value="{{ prop.nomeProp }}" id="nome" aria-label="proprietà"/>
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="prop.dominio" aria-label="dominio della prprietà">
                                <md-option ng-repeat="dom in domini" value="{{dom.nome}}">{{dom.nome}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-click="removeNodeProp($index)" class="md-raised" aria-label="rimuovi proprietà"> Rimuovi </md-button>
                    </div>
                </form>
            </md-tab>

            <md-tab label="Vincoli di dominio" style="width: 500px;height: 810px;">
                <form name="vincoliProp">
                    <h3>In questo modal puoi definire delle restrizioni sui valori di una proprietà</h3>

                    <md-input-container>
                        <label>Scegli proprietà</label>
                        <md-select ng-model="vincProp" ng-change = "cambiaProp($index)" aria-label="scegli la proprietà">
                            <md-option ng-repeat="prop in nodi[indiceSelezionato].proprieta" value="{{$index}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>
                    <br/>
                    <md-input-container ng-show="vincProp > -1">
                        <md-select ng-model="nodi[indiceSelezionato].proprieta[vincProp].dominio" aria-label="dominio della proprietà">
                            <md-option ng-repeat="dom in domini" value="{{dom.nome}}">{{dom.nome}}</md-option>
                        </md-select>
                    </md-input-container>

                    <!-- INIZIO SEZIONE PER I VALORI DI DEFAULT -->

                    <div ng-switch ="nodi[indiceSelezionato].proprieta[vincProp].dominio">
                        <md-input-container ng-switch-when= 'int' >
                            <label>Scrivi il valore di default</label>
                            <input name="valInt" ng-model="$parent.nodi[indiceSelezionato].proprieta[vincProp].valori.default" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                            <div ng-messages="vincoliProp.valInt.$error">
                                <div ng-message="pattern">Inseire un intero</div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-switch-when= 'float' >
                            <label>Scrivi il valore di default</label>
                            <input name="valFlo" ng-model="$parent.def" ng-pattern="/^(\-|\+)?[0-9]+(\.[0-9]+)?$/"/>
                            <div ng-messages="vincoliProp.valFlo.$error">
                                <div ng-message="pattern">Inseire un numero</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'string' >
                            <label>Scrivi il valore di default</label>
                            <input ng-model="$parent.def"/>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'date' >
                            <md-datepicker name="data" ng-model="$parent.def" md-placeholder="Scegli data di default"></md-datepicker>
                            <div ng-messages="vincoliProp.data.$error">
                                <div ng-message="valid">Inserire una data valida</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-switch-when= 'bool' >
                            <md-radio-group ng-model="$parent.def">
                                Scegli il valore di default
                                <br/><br/>
                                <md-radio-button value="true" class="md-primary">True</md-radio-button>
                                <md-radio-button value="false" class="md-primary">False</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <!-- FINE SEZIONE PER I TIPO DI DEFAULT -->

                    <!-- INIZIO SEZIONE PER GLI INTERVALLI DI VALORE -->
                    <div ng-switch = "nodi[indiceSelezionato].proprieta[vincProp].dominio" >
                        <md-input-container ng-show= "nodi[indiceSelezionato].proprieta[vincProp].dominio === 'int' ||
                                                    nodi[indiceSelezionato].proprieta[vincProp].dominio === 'float' ||
                                                    nodi[indiceSelezionato].proprieta[vincProp].dominio === 'date' " >
                            <br/>
                            Decidi gli intervali dei valori accettabili
                            <br/><br/>
                            <md-radio-group ng-model="sceltaVinc" name="cc">
                                <md-radio-button value="intervallo">Intervallo</md-radio-button>
                                <md-radio-button value="maggiore">Maggiore di </md-radio-button>
                                <md-radio-button value="minore">Minore di</md-radio-button>
                            </md-radio-group>
                        </md-input-container>

                        <div ng-switch-when= 'int' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <input name="valInt1" ng-model="$parent.interDa" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt1.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>

                                <md-input-container>
                                    <label>A</label>
                                    <input name="valInt2" ng-model="$parent.interA" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt2.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valInt3" ng-model="$parent.magDi" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt3.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valInt4" ng-model="$parent.minDi" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                                    <div ng-messages="vincoliProp.valInt4.$error">
                                        <div ng-message="pattern">Inseire un intero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when= 'float' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <input name="valFlo1" ng-model="$parent.interDa" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo1.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>
                                <md-input-container>
                                    <label>A</label>
                                    <input name="valFlo2" ng-model="$parent.interA" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo2.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valFlo3" ng-model="$parent.magDi" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo3.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <input name="valFlo4" ng-model="$parent.minDi" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                                    <div ng-messages="vincoliProp.valFlo4.$error">
                                        <div ng-message="pattern">Inseire un numero</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when= 'date' >
                            <div ng-show="sceltaVinc == 'intervallo'">
                                <md-input-container>
                                    <label>Da</label>
                                    <md-datepicker name="data1" ng-model="$parent.interDa"></md-datepicker>
                                    <div ng-messages="vincoliProp.data1.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoDaIncl">Estremo incluso</md-checkbox>
                                <md-input-container>
                                    <label>A</label>
                                    <md-datepicker name="data2" ng-model="$parent.interA"></md-datepicker>
                                    <div ng-messages="vincoliProp.data2.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoAIncl">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'maggiore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <md-datepicker name="data3" ng-model="$parent.magDi"></md-datepicker>
                                    <div ng-messages="vincoliProp.data3.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMag">Estremo incluso</md-checkbox>
                            </div>

                            <div ng-show="sceltaVinc == 'minore'">
                                <md-input-container>
                                    <label>Di</label>
                                    <md-datepicker name="data4" ng-model="$parent.minDi"></md-datepicker>
                                    <div ng-messages="vincoliProp.data4.$error">
                                        <div ng-message="valid">Inserire una data valida</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="$parent.estremoMin">Estremo incluso</md-checkbox>
                            </div>
                        </div>

                        <div ng-switch-when='enum'>
                            <md-radio-group ng-model="$parent.sel">
                                <style>
                                    table#tableEnum{
                                        width: 50%;
                                    }
                                    table#tableEnum td,th{
                                        text-align: left;
                                    }
                                    .btn1 {
                                        color : black;
                                        background-color: red;
                                        min-width: 5%;
                                        font-size: 16px;
                                    }
                                </style>
                                <table id="tableEnum">
                                    <thead>
                                    <tr><th>Elementi</th><th>Default</th><th>Elimina</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>nessun default</td>
                                        <td><md-radio-button ng-value="$index" class="md-primary"></md-radio-button></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="elem in enum">
                                        <td>{{ elem }}</td>
                                        <td><md-radio-button ng-value="$index" class="md-primary"></md-radio-button></td>
                                        <td><md-button class = "btn1" ng-click="removeIntervallo($index)" align="right" aria-label="rimuovi intervallo"> X </md-button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-radio-group>

                            <md-input-container>
                                <label>numero di elementi</label>
                                <input name="valInt5" ng-model="$parent.nomeApp"/>
                            </md-input-container>
                            <md-button ng-click="addElem()" class="md-raised" aria-label="aggiungi elemento">Aggiungi elemento</md-button>
                        </div>

                        <div ng-switch-when="int|float|date" ng-switch-when-separator="|">
                            <div>
                                <md-button ng-click="insIntervallo()" class="md-raised" aria-label="inserisci vincolo"> Aggiungi vincolo </md-button>
                            </div>
                            <br/><br/><br/>
                            <hr/>
                            <style>
                                table#tableIntervalli{
                                    width: 50%;
                                }
                                table#tableIntervalli td,th{
                                    text-align: left;
                                }
                                .btn1 {
                                    color : black;
                                    background-color: red;
                                    min-width: 5%;
                                    font-size: 16px;
                                }
                            </style>
                            <table id="tableIntervalli" ng-show="nodi[indiceSelezionato].proprieta[vincProp].valori.intervalli.length !== 0">
                                <thead>
                                <tr><th>Intervalli definiti</th><th>Elimina</th></tr>
                                </thead>
                                <tr ng-repeat="intervallo in nodi[indiceSelezionato].proprieta[vincProp].valori.intervalli track by $index">
                                    <td>{{ intervallo }}</td>
                                    <td><md-button class = "btn1" ng-click="removeIntervallo($index)" align="right" aria-label="rimuovi intervallo"> X </md-button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- FINE SEZIONE PER GLI INTERVALLI DI VALORE -->
                </form>
            </md-tab>

            <md-tab label="Vincoli di tupla">
                <form name="vincoliTupla">
                    <br/>
                    Qui si possono definire dei vincoli che riguardano più proprietà nel nodo.<br/>
                    Questi vincoli sono espressioni booleane formate da una serie d clausule, ogni clausula a sua volta può essere un
                    confronto di valori di attributi o espressioni aritmetiche su di essi.<br/>
                    <hr/>
                    definisci le clausule<br/>
                    <hr/>
                    <md-radio-group ng-model="formaParteDestra" layout="row" style="padding-left: 570px;" >
                        <md-radio-button value="valore">Valore</md-radio-button>
                        <md-radio-button value="attributo">Attributo</md-radio-button>
                    </md-radio-group>
                    <hr/>

                    <md-input-container>
                        <label>Scegli propretà</label>
                        <md-select ng-model="parteSinistra" ng-change = "cambiaProp(parteSinistra)">
                            <md-option ng-repeat="prop in nodi[indiceSelezionato].proprieta" value="{{$index}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Scegli operatore di confronto</label>
                        <md-select ng-model="operatore">
                            <md-option ng-repeat="op in operatoriConfronto" value="{{op}}">{{op}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-show="formaParteDestra == 'valore' && propSelezionata.dominio == 'int'">
                        <label>Valore</label>
                        <input name="valInt" ng-model="val" ng-pattern="/^(\-|\+)?[0-9]+$/"/>
                        <div ng-messages="vincoliTupla.valInt.$error">
                            <div ng-message="pattern">Inseire un intero</div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-show="formaParteDestra == 'valore' && propSelezionata.dominio == 'float'">
                        <label>Valore</label>
                        <input name="valFlo" ng-model="val" ng-pattern="/^(\-|\+)?([0-9]+\.[0-9]+)?$/"/>
                        <div ng-messages="vincoliTupla.valFlo.$error">
                            <div ng-message="pattern">Inseire un numero</div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-show="formaParteDestra == 'valore' && propSelezionata.dominio == 'date'">
                        <label>Valore</label>
                        <md-datepicker name="data" ng-model="val"></md-datepicker>
                        <div ng-messages="vincoliTupla.data.$error">
                            <div ng-message="valid">Inserire una data valida</div>
                        </div>
                    </md-input-container>
                    <md-button ng-click="addVincoloTupla()" aria-label="aggiungi vincolo di tupla"
                               ng-disabled="parteSinistra === undefined || operatore === undefined  || val === undefined || val === '' "> Aggiungi clausula</md-button>
                    <hr/>
                    <p ng-repeat="cla in vincTupla track by index">
                        <md-checkbox ng-model="not">NOT</md-checkbox>
                         ({{ cla }})
                        <md-input-container>
                            <label>Scegli operatore di confronto</label>
                            <md-select ng-model="connettivo">
                                <md-option ng-repeat="op in operatoriConfronto" value="{{op}}">{{op}}</md-option>
                            </md-select>
                        </md-input-container>{{not}}
                    </p>
                </form>
            </md-tab>

            <md-tab label="Chiavi">
                <form name="insChiavi">
                    Definisci la chiave primaria
                    <md-input-container>
                        <label>Scegli chiave primaria</label>
                        <md-select ng-model="pk" name="pk" required multiple="" ng-change="addPK()" >
                            <md-option ng-repeat="prop in nodi[indiceSelezionato].proprieta"  value="{{prop.nomeProp}}">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>
                    <br/>

                    la chiave primaria è formata da: {{pk}}

                    <br/><br/><hr/><br/>

                    Definisci altre chiavi.<br/>
                    Non si possono usare proprietà che fanno già parte della chiave primaria per creare altre chiavi.<br/>
                    <md-input-container>
                        <label>scegli altra chiave</label>
                        <md-select ng-model="altraChiave" name="altraChiave" multiple="">
                            <md-option ng-repeat="prop in nodi[indiceSelezionato].proprieta"  value="{{prop.nomeProp}}"
                                       ng-disabled="(nodi[indiceSelezionato].primaryKey.indexOf(prop.nomeProp)>-1) ||
                                       nodi[indiceSelezionato].primaryKey.length === 0 ">{{prop.nomeProp}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="addSK()" class="md-raised" ng-disabled="altraChiave === undefined" aria-label="aggiungi chiave secondaria"> Aggiungi </md-button>

                    <style>
                        table#tableChiaviSec{
                            width: 50%;
                        }
                        table#tableEnum td,th{
                            text-align: left;
                        }
                        .btn1 {
                            color : black;
                            background-color: red;
                            min-width: 5%;
                            font-size: 16px;
                        }
                    </style>
                    <table id="tableChiaviSec">
                        <thead>
                        <tr><th>Chiave</th><th>Elimina</th></tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="secKey in nodi[indiceSelezionato].secondarykey">
                            <td>{{ secKey }}</td>
                            <td><md-button class = "btn1" ng-click="removeSK($index)" align="right" aria-label="rimuovi chiave secondaria"> X </md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="row" layout-align="center">
            <md-button ng-click="closeDialog()" class="md-raised" aria-label="chiudi modal"> Chiudi </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
</body>
</html>